[Unit]
Description=MIDI Monior

[Service]
Type=simple
WorkingDirectory=/home/pi/local/midi-mon
ExecStart=/home/pi/venv/midi-mon/bin/python midi_mon.py

[Install]
WantedBy=default.target
