[Unit]
Description=disp_mon

[Service]
Type=simple
WorkingDirectory=/home/pi/local/disp-mon
ExecStart=/home/pi/venv/disp-mon/bin/python disp_mon.py

[Install]
WantedBy=default.target
