[Unit]
Description=oled_mon

[Service]
Type=simple
WorkingDirectory=/home/pi/local/oled-mon
ExecStart=/home/pi/venv/luma/bin/python oled_mon.py

[Install]
#WantedBy=default.target
WantedBy=sound.target
